<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <!-- 响应式布局文件 device-width：呈现在不同设备 initial-scale： 1:1 的比例呈现，不会有任何的缩放 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    {% load staticfiles %}

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <link href="{% static "/css/public.css" %}" rel="stylesheet" type="text/css">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- arbor.js -->
    <script src="{% static "/js/arbor.js" %}" type="text/javascript"></script>
    <script src="{% static "/js/atlas.js" %}" type="text/javascript"></script>
    <script src="{% static "/js/arbor-graphics.js" %}" type="text/javascript"></script>

    <title>爱图谱</title>
</head>
<body>

    <nav class="navbar navbar-default">

        <div class="container-fluid">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                  <a href="/" class="navbar-left">
                    <img style="max-width: 10em;" src="/static/image/logo.jpg">
                  </a>
                <div class="navbar-left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                {% if not index %}
                <form class="navbar-form navbar-left" action="/search/" method="post" onsubmit="return Check()">
                    {% csrf_token %}
                    <div class="form-group">
                      <input class="form-control" type="text" name="query_word" id="query_word" value="输入人员姓名或概念" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '输入人员姓名或概念';}">
                    </div>
                    <input class="btn btn-primary" type="submit" id="query" value="&nbsp搜 索&nbsp"/>
                </form>
                {% endif %}
            </div>

            <div class="collapse navbar-collapse" id="kgtm-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li></li>
                </ul>
            </div>

        </div>

    </nav>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
              <h4>请正确填写您要查询的数据</h4>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    {% block content %}

    {% endblock %}


    <footer>
        <div class="copyright">
             <p><a href="http://faculty.neu.edu.cn/ise/renfeiliang/index.html" target="_blank">2017 &copy 东北大学自然语言处理实验室知识图谱组 </a>|   辽ICP备17017724号-1 </p>
        </div>
    </footer>
</body>
</html>