{% extends "base.html" %}

{% block content %}



    <div class="container">

        <form class="form-inline" id="form_query" action="/cluster/" method="post">
            {%  csrf_token %}
            <div class="col-sm-4">
            <div class="form-group">
                <label for="query_word">输入关键字&nbsp&nbsp:&nbsp&nbsp</label>
                <input type="text" class="form-control" name="query_word" id="query_word" placeholder="机器翻译">
            </div>
            </div>
        </form>
        <div class="col-sm-2">
            <button class="btn btn-primary btn-block" id="query">聚类</button>
        </div>
    </div>
    <br>
    <br>

    {% for theme in results %}

        <div class="panel panel-default">
            <div class="panel-heading">
                <a name="TAB1">第 {{ forloop.counter }} 类 </a>
            </div>
            {% if theme.theme %}
            <div class="panel-body">
                <strong>分类的主题：</strong>
            {% for themename in theme.theme %}
                {{ themename }}&nbsp;&nbsp;
            {% endfor %}
            </div>
            {% endif %}
            {% if theme.papers %}
            <table class="table table-hover">
                <tr class="info" >
                    <td>论文名</td>
                    <td>论文作者</td>
                    <td>论文关键字</td>
                    <td>发表年代</td>
                </tr>
                {% for paper in theme.papers %}
                <tr>
                    <td>{{ paper.c_title }}</td>
                    <td>{{ paper.c_authors }}</td>
                    <td>{{ paper.c_keys }}</td>
                    <td>{{ paper.year }}</td>
                </tr>
                {% endfor %}
            </table>
            {% endif %}
        </div>
    {% endfor %}


{% endblock %}