{% extends "base.html" %}

{% block content %}

    <div class="container">

        <form class="form-horizontal" id="form_query" action="/hot_research/1/" method="post">
            {%  csrf_token %}
            <div class="col-sm-2">
            <button class="btn btn-primary btn-block">热点预测</button>
        </div>
        </form>
    </div>
    <br>

    {% if results %}
    <div class="panel panel-default">

        <div class="panel-heading">
            热点预测：
        </div>
        <div class="panel-body">
            共查找到数据 {{ count }} 条，部分数据不符合规范，不予现实。

            <canvas id="Chart"></canvas>
            <script>
                var data = {
                    labels : [{% for item in results|slice:":10" %} "{{ item.topic }}",{% endfor %}],
                    datasets : [
                        {
                            label: "前十位研究热点热度系数",
                            borderColor: 'rgba(51,204,204,0.5)',
                            data : [{% for item in results|slice:":10" %} {{ item.hot_degree.hot }},{% endfor %}]
                        },
                    ],
                };
                var ctx = $('#Chart')[0].getContext('2d');
                new Chart(ctx, {type: 'bar', data: data, })
            </script>
        </div>

        <table class="table table-hover">
            <tr>
                <td>主题</td>

                <td>论文数</td>
                <td>杂志数</td>
                <td>机构数</td>
                <td>主题数</td>
                <td>年份数</td>

                <td>年平均论文</td>
                <td>3年平均论文</td>
                <td>热点预测</td>
            </tr>

            {% for item in results %}
            <tr>
                <td>{{ item.topic }}</td>

                <td>{{ item.pap_info.c_titles|length }}</td>
                <td>{{ item.pap_info.c_journals|length }}</td>
                <td>{{ item.pap_info.org|length }}</td>
                <td>{{ item.pap_info.c_keys|length }}</td>
                <td>{{ item.pap_info.years|length }}</td>

                <td>{{ item.hot_degree.avg_pap_year }}</td>
                <td>{{ item.hot_degree.avg_pap_3year }}</td>
                <td>{{ item.hot_degree.hot }}</td>
            </tr>
            {% endfor %}

        </table>
    </div>
    <div class="col-md-offset-4">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                {% if results.has_previous %}
                <li>
                    <a href="/hot_research/{{ results.previous_page_number }}/" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% endif %}

               {% for page_num in pages %}
                    {% if page_num  == results.number %}
                         <li class="active"><a href="/hot_research/{{ page_num }}/">{{page_num}}<span class="sr-only">(current)</span></a></li>
                    {% else %}
                         <li class=""><a href="/hot_research/{{ page_num }}/">{{page_num}}<span class="sr-only">(current)</span></a></li>
                    {% endif %}
                {% endfor %}

                {% if results.has_next %}
                <li>
                    <a href="/hot_research/{{ results.next_page_number }}/" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
    {% endif %}

{% endblock %}