{% extends "base.html" %}

{% block content %}

    <div class="container" id="index">
        <div class="search">

            <p>爱图谱 &nbsp 连接世界的知识</p>

            <div class="s-bar">
                <div>
                    <input type="text" name="query_word" id="query_word" value="输入人员姓名或概念" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '输入人员姓名或概念';}">
                    <input type="submit" id="query" value="搜索" onclick="query()"/>
                </div>
            </div>
        </div>
    </div>

{%  endblock %}