{% extends "base.html" %}

{% block content %}

    <div class="container" id="index">
        <div class="search">

            <p>爱图谱 &nbsp AI联接</p>

            <div class="s-bar">
                <div>
                    <form action="/search/" method="post" onsubmit="return Check()">
                        {% csrf_token %}
                        <input type="text" name="query_word" id="query_word" value="输入人员姓名或概念" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '输入人员姓名或概念';}">
                        <input type="submit" id="query" value="搜索"/>
                    </form>
                </div>
            </div>
            <div class="detail">在学术江湖中，总有一些人，一些术语是你感兴趣的</div>
        </div>
    </div>

{%  endblock %}