{% extends "base.html" %}

{% block content %}

    <div class="search_top">
        <div class="s-bar">
            <div>
                <input type="text" name="query_word" id="query_word" value="输入人员姓名或概念" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '输入人员姓名或概念';}">
                <input type="submit" id="query" value="搜索" onclick="query()"/>
            </div>
        </div>
    </div>


    <div class="container">

        <br/>
        <br/>
        <div class="page-header">
          <h4 class="text-danger">经查询，我们目前还没有关于 "{{ query }}" 的数据</h4>
        </div>

        <div class="jumbotron">

          <h3>贡献数据</h3>
          <p>我们致力于连接世界的知识，<br/>
              您是否也有和我们一样的想法,<br/>
              如果您目前有我们没有的数据，可以贡献给我们。</p>
          <p>
              <a class="btn btn-success" href="/crowddata/" role="button">添加数据</a>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a class="btn btn-info" href="/index/" role="button">残忍拒绝</a>
          </p>

        </div>
    </div>
{% endblock %}