{% extends "base.html" %}

{% block content %}

    {% load tag %}
    <div class="concept">
        <div class="panel panel-primary">
          <div class="panel-heading">{{ query }} 图谱关系：</div>
          <div class="panel-body-nopadding">
               <canvas id="viewport"></canvas>
          </div>
        </div>
    </div>
    <script>
    $(document).ready(function () {

        var theUI = {
          nodes:{
                "{{query}}":{color:"#FF3900", shape:"dot", alpha:1},

                {% if researcher.topics %}
                "研究方向":{color:"#FF8B00", shape:"dot", alpha:1},
                {% for topic in researcher.topics %}
                    '{{ topic }}':{color:"#086CA2", alpha:1, link:"/topic/{{topic|encrypt}}/"},
                {% endfor %}
                {% endif %}

                {% if researcher.researchers %}
                "相关人员":{color:"#FF8B00", shape:"dot", alpha:1},
                {% for item in researcher.researchers %}
                    '{{ item }}':{color:"#086CA2", alpha:1, link:"/researcher/{{ item|encrypt }}/"},
                {% endfor %}
                {% endif %}

                {% if researcher.organizations %}
                "所在机构":{color:"#FF8B00", shape:"dot", alpha:1},
                {% for org in researcher.organizations %}
                    '{{ org }}':{color:"#086CA2", alpha:1},
                {% endfor %}
                {% endif %}

                {% if researcher.journals %}
                "发表论文期刊":{color:"#FF8B00", shape:"dot", alpha:1},
                {% for journal in researcher.journals %}
                    '{{ journal }}':{color:"#086CA2", alpha:1},
                {% endfor %}
                {% endif %}
                },
          edges:{
                "{{query}}":{
                    {% if researcher.topics %}
                    "研究方向":{length:.8},
                    {% endif %}

                    {% if researcher.researchers %}
                    "相关人员":{length:.8},
                    {% endif %}

                    {% if researcher.organizations %}
                    "所在机构":{length:.8},
                    {% endif %}

                    {% if researcher.journals %}
                    "发表论文期刊":{length:.8},
                    {% endif %}
                },

                {% if researcher.topics %}
                '研究方向':{
                {% for topic in researcher.topics %}
                    '{{ topic }}':{},
                {% endfor %}
                },
                {% endif %}

                {% if researcher.researchers %}
                '相关人员':{
                {% for item in researcher.researchers %}
                    '{{ item }}':{},
                {% endfor %}
                },
                {% endif %}

                {% if researcher.organizations %}
                '所在机构':{
                {% for org in researcher.organizations %}
                    '{{ org }}':{},
                {% endfor %}
                },
                {% endif %}

                {% if researcher.journals %}
                '发表论文期刊':{
                {% for journal in researcher.journals %}
                    '{{ journal }}':{length:.5},
                {% endfor %}
                },
                {% endif %}
          }
        };
        initGraph(theUI);
    });

    </script>

{% endblock %}