{% extends "base.html" %}

{% block content %}

    <div class="search_top">
        <div class="s-bar">
            <div>
                <input type="text" name="query_word" id="query_word" value="输入人员姓名或概念" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '输入人员姓名或概念';}">
                <input type="submit" id="query" value="搜索" onclick="query()"/>
            </div>
        </div>
    </div>

    <canvas id="viewport"></canvas>
    <script>
    $(document).ready(function () {

        var theUI = {
          nodes:{
                "{{query}}":{color:"#FF3900", shape:"dot", alpha:1},

                "研究方向":{color:"#FF8B00", shape:"dot", alpha:1},
                {% for topic in researcher.topics %}
                    '{{ topic }}':{color:"#086CA2", alpha:1, link:"{% url 'topic' query=topic %}"},
                {% endfor %}
                "相关人员":{color:"#FF8B00", shape:"dot", alpha:1},
                {% for item in researcher.researchers %}
                    '{{ item }}':{color:"#086CA2", alpha:1, link:"{% url 'researcher' query=item %}"},
                {% endfor %}
                "所在机构":{color:"#FF8B00", shape:"dot", alpha:1},
                {% for org in researcher.organizations %}
                    '{{ org }}':{color:"#086CA2", alpha:1},
                {% endfor %}
                "论文出版社":{color:"#FF8B00", shape:"dot", alpha:1},
                {% for journal in researcher.journals %}
                    '{{ journal }}':{color:"#086CA2", alpha:1},
                {% endfor %}
                },
          edges:{
                "{{query}}":{
                    "研究方向":{length:.8},
                    "相关人员":{length:.8},
                    "所在机构":{length:.8},
                    "论文出版社":{length:.8},
                },
                '研究方向':{
                {% for topic in researcher.topics %}
                    '{{ topic }}':{},
                {% endfor %}
                },
                '相关人员':{
                {% for item in researcher.researchers %}
                    '{{ item }}':{},
                {% endfor %}
                },
                '所在机构':{
                {% for org in researcher.organizations %}
                    '{{ org }}':{},
                {% endfor %}
                },
                '论文出版社':{
                {% for journal in researcher.journals %}
                    '{{ journal }}':{length:.5},
                {% endfor %}
                },
          }
        };
        initGraph(theUI);
    });

    </script>

{% endblock %}