{% extends "base.html" %}

{% block content %}


    {% load tag %}

    <div class="concept">
            <div class="panel panel-primary">
              <div class="panel-heading">{{ query }} 图谱关系：</div>
              <div class="panel-body-nopadding">
                   <canvas id="viewport"></canvas>
              </div>
            </div>
        </div>
    {% if topics.concept %}
        <div class="concept">
            <div class="panel panel-primary">
              <div class="panel-heading">概念解释：</div>
              <div class="panel-body">
                    {{ topics.concept }}
              </div>
            </div>
        </div>
    {% endif %}
    <script>
        $(document).ready(function () {

            var theUI = {
              nodes:{
                    "{{query}}":{color:"#FF3900", shape:"dot", alpha:1},

                    {% if topics.bilingual_cn %}
                    "相关双语":{color:"#FF8B00", shape:"dot", alpha:1},

                    {% for info in topics.bilingual_cn %}
                        '{{ info }},':{color:"#086CA2", alpha:1, link:"/topic/{{ info|encrypt }}"},
                    {% endfor %}

                    {% for info in topics.bilingual_en %}
                        '{{ info }};':{color:"#00B454", alpha:1},
                    {% endfor %}
                    {% endif %}

                    {% if topics.topics_upper %}
                    "上位概念":{color:"#FF8B00", shape:"dot", alpha:1},
                    {% for upper in topics.topics_upper %}
                        '{{ upper }}':{color:"#086CA2", alpha:1, link:"/topic/{{ upper|encrypt }}"},
                    {% endfor %}
                    {% endif %}

                    {% if topics.topics_lower %}
                    "下位概念":{color:"#FF8B00", shape:"dot", alpha:1},
                    {% for lower in topics.topics_lower %}
                        '{{ lower }}':{color:"#086CA2", alpha:1, link:"/topic/{{ lower|encrypt }}"},
                    {% endfor %}
                    {% endif %}

                    {% if topics.researchers %}
                    "科研人员":{color:"#FF8B00", shape:"dot", alpha:1},
                    {% for researcher in topics.researchers %}
                        '{{ researcher }}':{color:"#086CA2", alpha:1, link:"/researcher/{{ researcher|encrypt }}"},
                    {% endfor %}
                    {% endif %}
                    },

              edges:{
                    "{{query}}":{
                        {% if topics.topics_upper %}
                        "上位概念":{length:.8},
                        {% endif %}

                        {% if topics.topics_lower %}
                        "下位概念":{length:.8},
                        {% endif %}

                        {% if topics.bilingual_cn %}
                        "相关双语":{length:.8},
                        {% endif %}

                        {% if topics.researchers %}
                        "科研人员":{length:.8},
                        {% endif %}
                    },

                    {% if topics.bilingual_cn %}
                    "相关双语":{
                    {% for info in topics.bilingual_cn %}
                        "{{ info }},":{length:.5},
                    {% endfor %}
                    },

                    {% for cn in topics.bilingual_cn %}
                        "{{ cn }},":{
                            {% for en in topics.bilingual_en %}
                                {% ifequal forloop.counter forloop.parentloop.counter %}
                                    '{{ en}};':{},
                                {% endifequal %}
                            {% endfor %}
                        },
                    {% endfor %}
                    {% endif %}

                    {% if topics.topics_upper %}
                    '上位概念':{
                    {% for upper in topics.topics_upper %}
                        '{{ upper }}':{},
                    {% endfor %}
                    },
                    {% endif %}

                    {% if topics.topics_lower %}
                    '下位概念':{
                    {% for lower in topics.topics_lower %}
                        '{{ lower }}':{},
                    {% endfor %}
                    },
                    {% endif %}

                    {% if topics.researchers %}
                    '科研人员':{
                    {% for researcher in topics.researchers %}
                        '{{ researcher }}':{},
                    {% endfor %}
                    },
                    {% endif %}
              }
            };
            initGraph(theUI);
        });
    </script>
{% endblock %}